@font-face {
    font-family: 'roboto_monoregular';
    src: url('robotomono-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #111;
    color: white;
    font-family: 'roboto_monoregular';
    max-width: 100%;
    margin: auto;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: 'roboto_monoregular';
    font-size: 500%;
    text-align: center;
    height: 2em;
    width: 6em;
    display: block;
    position: relative;
    color: white;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -2.5%;
    left: 2.5%;
    max-width: 100%;
}

span#t1text {
    font-family: 'roboto_monoregular';
    position: relative;
    right: -1em;
    max-width: 100%;
    font-size: 95%;
}

.header h1 {
    color: white;
    font-weight: 700;
    font-size: 150%;
    display: inline-block;
    position: relative;
    top: -0.75em;
    left: 0.20em;
    max-width: 100%;
}

.header-items {
    float: right;
    padding-top: 0.1em;
    max-width: 100%;
}

.header-items a {
    font-size: 125%;
    color: white;
    margin-left: 0.45em;
    margin-right: 0.45em;
    text-decoration: none!important;
    max-width: 100%;
}

.nav-wrap {
    width: 100%;
}

#about {
    background: #111;
    color: #673ab7;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 100%;
    font-size: 100%;
    margin: auto;
}

body>t1>div>descriptiont {
    text-align: center;
    font-size: small;
    display: block;
    position: relative;
    color: white;
    top: -0.1em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
}

body>t2>div {
    display: block;
    position: relative;
    color: #673ab7;
    text-align: center;
    top: 45em;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 25em;
    margin-right: 25em;
    font-size: large;
    max-width: 100%;
    margin: auto;
}

body>t2>div>div>descriptiont {
    display: inline;
    color: white;
    position: relative;
    text-align: left;
    font-size: large;
    margin: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    line-height: normal;
}

#projects {
    display: block;
    position: relative;
    color: #673ab7;
    text-align: center;
    top: 50em;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 25em;
    margin-right: 25em;
    font-size: larger;
    max-width: 100%;
    margin: auto;
}

#projects>div>div.project-image>img {
    display: inline-block;
    max-width: 90%;
    vertical-align: middle;
    margin: auto;
}

#projects>div>div.center>a {
    display: inline-block;
    background-color: #673ab7;
    color: white;
    vertical-align: middle;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 0.05em;
    top: 100em;
    max-width: 100%;
    margin: auto;
}

#projects>div>div.about-project>p {
    color: white;
    margin: auto;
}

#contact>div>div.contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#contact>div>div.contact-items>div {
    margin-right: 0.2em;
    margin: auto;
}

#contact>div>div.contact-items>div>div.contact-item-icon {
    background-color: #673ab7;
    color: white;
    padding: 0.05em;
    align-items: center;
    display: block;
    position: relative;
    margin: auto;
}

#contact>div>div.contact-items>div>div.contact-item-icon>img {
    display: inline-block;
    vertical-align: middle;
    max-width: 0.2em;
    margin: auto;
}

#contact {
    display: block;
    position: relative;
    color: #673ab7;
    text-align: center;
    top: 10em;
    left: 0;
    right: 0;
    font-size: larger;
    margin: auto;
}

#contact>div>div.contact-items>div>div.contact-item-icon>p {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

#projects>t5>p {
    color: white;
    font-size: xx-small;
    text-align: center;
    top: 50em;
    position: relative;
    margin: auto;
}

#contact>div>div.contact-items>div>div.contact-item-text {
    color: white;
    margin: auto;
}

#contact>div>div.contact-items>div>div.contact-item-text>p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
}